<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>from TEMPLATES folder</title>
</head>
<body>
	<form action="saveUser" method="post">
		<table border="5">
			<tr>
				<td><label>First Name:</label></td>
				<td><input type="text" name="firstName"
					placeholder="Please Enter your user name here.."
					style="width: 80%;"></td>
			</tr>
			<tr>
				<td><label>Last Name:</label></td>
				<td><input type="text" name="lastName"
					placeholder="Enter your last name here.."></td>
				</td>
			</tr>
			<tr>
				<td><label>Email:</label></td>
				<td><input type="text" name="email"
					placeholder="Please Enter your password here.."></td>
				</td>
			</tr>
			<tr>
				<td><label>Paswword:</label></td>
				<td><input type="password" name="password"
					placeholder="Please Enter your password.."></td>
				</td>
			</tr>
			<tr>
				<td><label>Re-type Password:</label></td>
				<td><input type="password" name="re-entered_password"
					placeholder="Re-Enter your password.."></td>
				</td>
			</tr>
			<tr> 
				<td><label>Contact Num:</label></td>
				<td><input type="text" name="contact_num"
					placeholder="Enter your contact number.."></td>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="SUbmit"
					value="Peoceed" />
			</tr>
		</table>
	</form>

	<label>Don't have an account??</label>
	<br />
	<a href="/register">Click here to Register..</a>

</body>
</html>