<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>from TEMPLATES folder</title>
</head>
<body>
	<form action="login" method="post">
		<table border="5">
			<tr>
				<td><label>User Name:</label></td>
				<td><input type="text" name="email_id"
					placeholder="Please Enter your user name here.."></td>
			</tr>
			<tr>
				<td><label>Password:</label></td>
				<td><input type="password" name="password"
					placeholder="Please Enter your password here.."></td>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="SUbmit"
					value="Peoceed" />
			</tr>
		</table>
	</form>

	<label>Don't have an account??</label>
	<br />
	<a href="/register">Click here to Register..</a>

</body>
</html>